{% extends 'base.html' %}

{% load static %}

{% block body %}

  <h2>Calculator Page</h2>

  <div class="w3-text-grey">
		<form method="POST">
			{% csrf_token %}
			<table>
				{% for field in form %}
					<tr>
						<td>{{ field.label_tag }} {{ field }}</td>
					</tr>
				{% empty %}
					<p>none</p>
				{% endfor %}
			</table>
			<input type="submit" value="Submit" id="SubmitButton">
		</form>
	</div>

  <div id="result-div">
    <table id="result-table">
      <tr>
        <th>
          Level
        </th>
        {% for pokemon in evol_data %}
        <th>
          {{ pokemon }}
        </th>
        {% endfor %}
      </tr>
      {% for pokemon in evol_data %}
        <tr>
          {% for level in pokemon  %}
            <td>
              {{ level }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    {{ evol_data }}
  </div>

{% endblock %}
